--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
Pillow
numpy
timm
matplotlib
fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib
bcrypt
PyJWT
pydantic
email-validator
python-multipart
